main, h1, p{ 
  padding: 1em;
  color: orangered;
}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}

img{
  border-radius: 10%;
  box-shadow: 5px 5px 5px;
}

nav{
  box-shadow: 5px 5px 5px black;
}

li{
  list-style-type: none;
}
